:host{
  display: flex;
  justify-content: space-between;
}

.logo-container{
  padding: 6px 0 0 10px;
  display: flex;
  justify-content: space-between;
  width: 256px;
}

.logo{
  width: 24px;
  height: 24px;
}

.logo-name{
  font-family: Roboto, serif;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.profile-container{
  padding-right: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 256px;
}

.logout-icon{
  font-size: 24px;
  color: red;
  cursor: pointer;
}

.username{
  font-family: Roboto, serif;
  font-size: 16px;
}
