:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-container {
  display: flex;
  justify-content: flex-start;

  width: 978px;

  gap: 70px;
  flex-wrap: wrap;
  flex: 1 1 256px;

  padding: 1rem 0;

}

h1 {
  font-family: Roboto, serif;
  color: black;
  font-size: 32px;

  padding-top: 3rem;
}

.project{
  width: 256px;
  height: 256px;
  background-color: #C4C4C4;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.project-name{
  font-family: Roboto, serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;

  color: #000000;
}

.add-new{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.icon{
  width: 90px;
  height: 90px;
  font-size: 90px;

  transition: font-size 250ms , width 250ms, height 250ms;

  &.flip{
    width: 110px;
    height: 110px;
    font-size: 110px;
  }

}
.no-projects-message{
  font-family: Roboto, serif;
  font-size: 48px;
  color: black;
  text-align: center;

  height: 300px;
  padding: 50px;
}
