:host{
  display: flex;
  flex-direction: column;
}

app-header{
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
}

main{
  width: 100vw;
  height: calc(100vh - 52px);
  display: flex;
}

app-menu{
  width: 270px;
  height: 100%;
  background-color: #C4C4C4;

  &.closed{
    width: 30px;
  }
}

