:host{
  width: 50vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Roboto, serif;
  color: black;
  font-size: 32px;

  padding-top: 1rem;
}

.project-name{

  width: 80%;
  height: 60px;

  padding: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  font-family: Roboto, serif;
  color: black;
  font-size: 24px;

  background-color: #C4C4C4;

  input{
    all: unset;
    height: 30px;
    width: 70%;
    background-color: #C4C4C4;
    touch-action: unset;
    text-decoration: none;
    list-style : none;
  }
}

.icon{
  width: 54px;
  height: 54px;
  font-size: 54px;
}

.button-container{

  padding-top: 40px;

  width: 80%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  cursor: pointer;

}

span{
  font-family: Roboto, serif;
  color: black;
  font-size: 24px;
}
